<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Register</title>
    {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />

<link href="{% static 'css/style-login.css' %}" rel='stylesheet' type='text/css' />

<script type="text/javascript" src="{% static 'js/jquery-login.min.js' %}"></script>

</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});
});
</script>

<h1>Register</h1>
{% if error %}
    <h2 align="center">{{ error }}</h2>
{% endif %}
<div class="login-form">

	<div class="head-info">
		<label class="lbl-1"> </label>
		<label class="lbl-2"> </label>
		<label class="lbl-3"> </label>
	</div>
	<div class="clear"> </div>
	<div class="avtar"><img src="{% static 'images/avtar.png' %}" /></div>
    <form class="form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" class="text" value="User Name">
        <input type="text" class="text" name="email" value="Mailbox">
        <input type="password" class="text" name="password1">
        <input type="password" class="text" name="password2">
{#        <button type="submit" class="btn btn-primary btn-block">注册</button>#}

</br>
     <span class=" text fa fa-mail-forward" style="color: white;font-size: 20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Already have an account？<a href="{% url 'login' %}">   Click here to login</a></span>
	<div class="signin"><input type="submit" value="Register" ></div>
    </form>
</div>
</body>
</html>